@media screen and (min-width:800px) {
    .logo {
        width: 12%;
        padding-left: 100px;
    }
    .headerDiv {
        height: 150px;
    }
    h1 {
        font-size: 32px;
    }
    h2 {
        font-size: 22.22px;
    }
    h3 {
        font-size: 18.52px;
    }
    h4 {
        font-size: 15.43px;
    }
    #title {
        padding-top: 75px;
    }
    #content,#content2 {
        padding-top: 30px;
    }
    #content2 {
        top:-100px;
    }
    #slider {
        height: 400px;
        position:relative;
        top:-30px;
    }
    .tekst {
        text-align: left;
    }
    .strelica {
        scale: 0.5;
        top:-30px;
    }
    .cena {
        padding-top: 20px;
    }
    .od {
        position: relative;
        left:15px;
        top:8px;
    }
    .detaljnije {
        padding-bottom: 10px;
        padding-top:10px;
        padding-right: 5px;
        padding-left: 5px;
        position: absolute;
        width: 97%;
        top:0%;
        left:0%;
        font-size: 15.43px;
    }
    .detaljnijeDiv {
        padding-bottom: 40px;
    }
    .ponuda {
        margin-top: 150px;
    }
    .domenCena {
        padding-top:10px;
    }
    #proveraDomena {
        width: 100%;
        position: relative;
        top:20%;
    }
    #proveriDugme {
        width: 100%;
        position: relative;
        top:20%;
    }
    .headerText {
        position: relative;
        left:-150px;
    }
}
@media screen and (max-width:800px) {
    .logo {
        width: 15%;
    }
    h1 {
        font-size: 18.52px;
    }
    h2 {
        font-size: 12.56px;
    }
    #slider {
        height: 230px;
    }
    #title {
        padding-top: 35px;
    }
    .tekst {
        text-align: center;
    }
    .strelica {
        scale: 0.2;
        width: 80px;
        top:-45px;
    }
    #strelicalevo {
        left:-30px;
    }
    #strelicadesno {
        left:230px;
    }
    #content2 {
        top:-70px;
    }
    .headerText {
        display: none;  
    }
}

body {
    background-color: #CBCBCB;
}
.naslov-tekst {
    color: white;
    padding-top:20px;
    padding-bottom:20px;
    padding-left: 20px;
    display: inline-block;
}
.sadrzaj-tekst {
    color: white;
    padding-top:20px;
    padding-bottom:20px;
}
.plavTekst {
    color: #21295C;
}
.naslov-tekst, .sadrzaj-tekst {
    margin:0;
}
.sadrzaj {
    margin-top:50px;
}
.inputPolje {
    border: 3px solid #21295C;
}
#prelazite {
    padding-top: 70px;
}
#prelaziteBtn {
    margin-top: 70px;
    width: 100%;
    /* margin-bottom: 100px ; */
}
input::placeholder {
    text-align: center;
  }
.beoTekst {
    color:white;
}
#footer {
    height: 100%;
    position:relative; 
    top:20px
}
#footerRow {
    position: relative; 
    top:50px
}
#footerContainer {
    padding-bottom: 100px;
}