@media screen and (min-width:800px) {
    .logo {
        width: 12%;
        padding-left: 100px;
    }
    .headerDiv {
        height: 150px;
    }
    h1 {
        font-size: 32px;
    }
    h2 {
        font-size: 22.22px;
    }
    #title {
        padding-top: 75px;
    }
    #content,#content2 {
        padding-top: 30px;
    }
    #content2 {
        top:-100px;
    }
    #slider {
        height: 400px;
        position:relative;
        top:-30px;
    }
    .tekst {
        text-align: left;
    }
    .strelica {
        scale: 0.5;
        top:-30px;
    }
}
@media screen and (max-width:800px) {
    .logo {
        width: 15%;
    }
    h1 {
        font-size: 18.52px;
    }
    h2 {
        font-size: 12.56px;
    }
    #slider {
        height: 230px;
    }
    #title {
        padding-top: 35px;
    }
    .tekst {
        text-align: center;
    }
    .strelica {
        scale: 0.2;
        width: 80px;
        top:-45px;
    }
    #strelicalevo {
        left:-30px;
    }
    #strelicadesno {
        left:230px;
    }
    #content2 {
        top:-70px;
    }
}

.tekst {
    color: #21295C;
}

body {
    background-color: #CBCBCB;
}