@media screen and (min-width:800px) {
    .logo {
        width: 12%;
        padding-left: 100px;
    }
    .headerDiv {
        height: 150px;
    }
    h1 {
        font-size: 32px;
    }
    h2 {
        font-size: 22.22px;
    }
    h3 {
        font-size: 18.52px;
    }
    h4 {
        font-size: 15.43px;
    }
    #title {
        padding-top: 75px;
    }
    #content,#content2 {
        padding-top: 30px;
    }
    #slider {
        height: 400px;
        position:relative;
        top:-30px;
    }
    .tekst {
        text-align: left;
    }
    .strelica {
        scale: 0.5;
        top:-30px;
    }
    .cena {
        padding-top: 20px;
    }
    .od {
        position: relative;
        left:15px;
        top:8px;
    }
    .detaljnije {
        padding-bottom: 10px;
        padding-top:10px;
        padding-right: 5px;
        padding-left: 5px;
        position: absolute;
        width: 100%;
        top:0%;
        left:0%;
        font-size: 15.43px;
        color:white;
    }
    .detaljnijeDiv {
        padding-bottom: 40px;
    }
    .ponuda {
        margin-top: 150px;
    }
    .domenCena {
        padding-top:10px;
    }
    #proveraDomena {
        width: 100%;
        position: relative;
        top:20%;
    }
    #proveriDugme {
        width: 100%;
        position: relative;
        top:20%;
    }
    .headerText {
        position: relative;
        left:-150px;
    }
    #footer {
        height: 100%;
        position:relative; 
        top:20px
    }
    .inputPolje {
        border: 3px solid #21295C;
    }
    #prelazite {
        padding-top: 70px;
    }
    #kontaktDiv {
        padding-bottom:40px;
    }
    .footerText {
        text-align: right;
    }
}
@media screen and (max-width:800px) {
    .logo {
        width: 15%;
    }
    h1 {
        font-size: 18.52px;
    }
    h2 {
        font-size: 12.56px;
    }
    h3 {
        font-size: 10.72px;
    }
    h4 {
        font-size: 8.93px;
    }
    #slider {
        height: 230px;
    }
    #title {
        padding-top: 35px;
    }
    .tekst {
        text-align: center;
    }
    .strelica {
        scale: 0.2;
        width: 80px;
        top:-45px;
    }
    #content,#content2 {
        top: 20px;
    }
    .headerText {
        display: none;  
    }
    .footerText {
        text-align: left;
        position: relative;
        top:20px;
    }
    #footer {
        height: 50%;
    }
    #proveraDomena {
        width: 100%;
        position: relative;
        top:20%;
    }
    .inputPolje {
        border: 2px solid #21295C;
    }
    #proveriDugme {
        /* width: 100%; */
        height: 50%;
        position: relative;
        top:25%;
        font-size: 12.56px;
        left:-10px;
    }
    input::placeholder {
        font-size: 12.56px;
    }
    #prelazite {
        padding-top: 40px;
    }
    #kontaktDiv {
        padding-bottom:40px;
    }
    .ponuda {
        margin-top: 50px;
    }
    .strelica {
        scale: 0.5;
        position: relative;
        top:-20px;
    }
    .domenCena {
        padding-top:15px;
        position: relative;
        left:-20px;
    }
    .domenGod {
        position: relative;
        left:-20px;
    }
    .detaljnije {
        padding-right: 5px;
        padding-left: 5px;
        position: absolute;
        width: 100%;
        top:0%;
        left:0%; 
        font-size: 10.43px;
    }
    .detaljnijeDiv {
        padding-bottom: 10px;
        height:40px
    }
    .rsd {
        position:relative;
        top:5px;
        left:-5px;
    }
    .od {
        position: relative;
        left:15px;
        top:10px;
    }
    .iznos {
        position:relative;
        left:-7px;
        top:4px;
    }
    .mesec {
        position:relative;
        left:-5px;
    }
}

body {
    background-color: #CBCBCB;
}
.naslov-tekst {
        color: white;
        padding-top:20px;
        padding-bottom:20px;
        padding-left: 20px;
        display: inline-block;
}
.sadrzaj-tekst {
    color: white;
    padding-top:20px;
    padding-bottom:20px;
}
.plavTekst {
    color: #21295C;
}
.naslov-tekst, .sadrzaj-tekst {
    margin:0;
}
.sadrzaj {
    margin-top:50px;
}
#prelaziteBtn {
    margin-top: 70px;
    width: 100%;
    /* margin-bottom: 100px ; */
}
input::placeholder {
    text-align: center;
}
.beoTekst {
    color:white;
}
#footerRow {
    position: relative; 
    top:50px
}
#footerContainer {
    padding-bottom: 100px;
}
* {
    font-family: 'Noticia Text';
}